@import "reset";
@import "variables";
@import "layout";
@import "global";
@import "typography";
@import "typography";
@import "cards";
html,body {
    height: 100%; 
    color: $text-color;
} 

html {
    overflow-y: scroll;
}
