#page_directions {
    height: 100%;
    overflow: hidden;
    padding-top: 96px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0;

    .close {
        width: 64px;
        height: 64;
        position: absolute;
        left: 16px;
        top: 16px;
    }

    iframe {
	    border: none;
        height: 100%;
        width: 100%;
    }

    i {
        font-size:128px; 
        position: absolute; 
        left:50%; 
        top: 50%; 
        z-index: -1;
    }
}