#page_recipe {
    word-wrap: break-word;
    white-space: pre-wrap;
    padding-right: 1px; 
    margin-top: 25px; 

    .close {
        width: 64px;
        height: 64;
        position: absolute;
        left: 16px;
        top: 16px;
    }

    .recipe-wrapper {

        margin-left: 60%;
        margin-right: 0%;
        margin-top: 130px;
        margin-bottom: -40px;
        position:relative;
        background: white;

        .recipe {

            padding: 5px;

            .thumb {
                width: 100%;
                height: 400px;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
            }

            .recipe-title {

                a {
                color:white;
                opacity: 0.9;
                top:0;
                left:25px;
                width: 100%;
                position: absolute;
                overflow:hidden;
                display:inline-block;
                text-overflow: ellipsis;
                white-space: nowrap;    
                text-shadow: -0.5px -0.5px 0 #000, 0px 0.5px 0 #000, 0.5px 0px 0 #000, 0px 0px 0 #000;
                font-size: 15px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

                    h4 {
                        text-align: left;
                    }
                }

                a:hover {
                    text-decoration: underline;
                }
            }

            .source {             
                position: absolute;
                color:white;
                bottom:0px;
                right:10px;
                width: 100%;
                text-align: right;
                text-shadow: -0.5px -0.5px 0 #000, 0px 0.5px 0 #000, 0.5px 0px 0 #000, 0px 0px 0 #000;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-style: italic;
            }

        }
    }
    .headers {
        height: 40px;
        width: 60%;
        margin-left: 15px;
        padding-top:5px;

        .content {
            float: left;
            font-size: 20px;
            font-family: sans-serif;
            font-style: italic;
            margin-left: 5px;
        }
    }

    .fact {
        font-size: 16px;
        font-family: sans-serif;
        font-weight: 400;
    }

    .displayNone {
        display: none;
    }

    .numberOfServings {

        margin-right: 25px;

        .counter {
            font-size: 20px;
            display: block;
            text-align: center;
        }

        .text {
            font-size: 16px;
        }

    }
}