.recipeCard {
    margin: 5px;
    display: flex;
    flex-direction: column;
    max-width: 150px;

    .recipeImage {
        height: 150px;
        width: 150px;
        background-position: center;
        background-size: auto 150px;
        display: inline-block;
        background-size: auto 150px;

        &:hover{
            background-size: auto 180px;
        }

    }

    .source {
         color: white;
        -webkit-text-fill-color: white; /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-style: italic;
        margin-top: -20px;
        height: 20px;
        font-size: 12px;
        padding-right: 5px;
        text-align: right;
    }

    .recipeInfo {
        .title {
            padding: 3px;
            font-size: 1.1em;
            margin: 0 auto;
            text-align: center;
            a{
                color: #2d055a;
            }
        }
    }
}